<h2>Photo Gallery</h2>
{{#each gallery}}
<div class="gallery-image-container">
    <img src="{{src}}" alt="{{alt}}" class="gallery-image">
    {{#if alt}}
    <div class="text-container">
        <p class="legend">{{alt}}</p>
    </div>
    {{/if}}
</div>
{{/each}}